<div [@simpleFadeAnimation]="'in'" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="assets/Images/about.jpeg" class="card-img mt-4" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> Kalaiyarasan S</h5>
                  <p class="card-text">This is my first Angular Project.<br> Weather Api <br> If you want to give any suggestion to improve it mail me. <br> At kalaisivagi@gmail.com</p>
                  <p class="card-text"><small class="text-muted">Life is very short nanba Always be happy.</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
